{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
<h1 class="mb-4">Articles</h1>

<ul class="navbar-nav me-auto">
    <li class="nav-item">
        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'app_article_index' %}active{% endif %}" href="{{ path('app_article_index') }}">Articles</a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item">
        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'app_article_new' %}active{% endif %}" href="{{ path('app_article_new') }}">Nouvel Article</a>
    </li>
    {% endif %}
</ul>
{% endblock %}
